.container {
    display: flex;
    justify-content: center;
    background-color: rgb(128, 117, 150);
    border-radius: 10px;
    padding: 20px;
}

.card {
    align-items: center;
    background-color: rgb(114, 164, 230);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 50%;
    overflow: hidden;
}

.card-title {
    background-color: beige;
    padding-top: 6px;
    margin: 0;
}

#cpu_usage, .ram {
    color: rgb(54, 36, 159);
}

.ram {
    
}